/***** Table of Contents
    Forms
    Header (templates/header.php)
        Logo
        Navmenu
        Facebook functions
            fb user profile
            fb logout
            fb login
    Fonts

    1PX = .0625em
****/

html, body, div#container{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Arial,sans-serif;
}
article, aside, figure, footer, header, nav, section {
    display: block;
}  

/* unvisited link */
a:link, :visited {
    text-decoration: none;
    color: #0066C0;
}
/* mouse over link */
a:hover {
    color: #0087FF;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: black;
}
/************************************Forms***********************************/
span.form_required{
    color: red;
    float: none; 
    color: red;
    font-size: .6em;
    margin-left: .6em;
    font-weight: normal;
}
p.error{
    color: red;
    font-size: 1em;
}
div.error{
    display: none;
    margin-bottom: .7em;
    margin-left: .7em;
    font-size: 1.4em;
}
ul.ul_error{
    margin-top: 0;
}
li.error{
    color: red;
    font-size: .9em;
}
textarea{
    font-family: 'Lato Regular', Arial, Verdana, Helvetica, sans-serif;
}

/***************************header div (templates/header.php)*************************/
div#header{
    width: auto;
    height: 15%;
    background-color:gray;
    border: .1em solid black;
    position: relative; /*to position the div#navbar_div at the bottom of the div*/
}
div#logo{
    height: auto;
}

/***************************Facebook login/logout buttons and the navmenu*****************/
div#header_bar{
    width: 100%;
    background-color: #005994;
}
ul{
    float: left;
    display: inline-block;
    padding-left:1em; /*default of 40 for some reason*/
    margin: .8125em 0em; /*.71875em = height of the a links*/
}
ul#navbar_menu li {
    display: inline;
    list-style: none;
}
ul#navbar_menu li a { /*most of this is controlled by the "js/jquery.navbar.js" custom plugin, see also "js/myscripts/mainJS.js*/
    display: inline;
    padding: 1em;
}
img.navbar_icon{
    vertical-align:middle;
    height: 1.35em;
    width: 1.35em;
    margin-right: .4em; /*------spacing from span.navbar_link--------*/
}
span.navbar_link{
    vertical-align:middle;
}

    /*----------------facebook functions------------------*/
div#fb_user{
    display: inline-block;
    float: right;
    width: auto;
    height: auto;
    margin-top: .1em;
    margin-right: .2em;
    margin-bottom: .2em;
    /*border: .0625em solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NmJiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzNGU4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #486bb5), color-stop(100%, #334e87));
    background-image: -moz-linear-gradient(top, #486bb5 0%, #334e87 100%);
    background-image: -webkit-linear-gradient(top, #486bb5 0%, #334e87 100%);
    background-image: linear-gradient(to bottom, #486bb5 0%, #334e87 100%);
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);*/
}

div#user_profile{
    display: inline;
    color: white;
    width: 50%;
    padding-bottom: 0.3em;
    margin-left: 1em;
}

img#fb_propic{
    vertical-align:middle;
    height: 1.6em;
    width: 1.6em;
}

div#block_logout {
    display: inline;
    width: 9.3125em;
    padding-bottom: .3em;
    margin-right: .3em;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

span.fb_title {
    font-family: "Lucida Grande", Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.8125em;
    color: #fff;
    line-height: 40px;
    padding: 0 10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
}

div.fb_user_button{
    cursor: pointer;
    padding: .3em .3em 4em;
}

div.fb_user_button:hover {
    /*background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NmJiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzM2I2YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');*/
    background-size: 100%;
    background-color: #004E82;
}

    /*------------------------------facebook sign in button-----------------------------*/
div.block_login { /*actually appears where the navbar div should*/
    width: 11.75em;
    padding-top: .125em;
    padding-bottom: .125em;
    padding-left: .25em;
}
.btn-fb-button {
    width: 100%;
    height: 1.875em;
    border: .0625em solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NmJiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMzNGU4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #486bb5), color-stop(100%, #334e87));
    background-image: -moz-linear-gradient(top, #486bb5 0%, #334e87 100%);
    background-image: -webkit-linear-gradient(top, #486bb5 0%, #334e87 100%);
    background-image: linear-gradient(to bottom, #486bb5 0%, #334e87 100%);
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.btn-fb-button:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NmJiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzM2I2YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #486bb5), color-stop(100%, #233b6c));
    background-image: -moz-linear-gradient(top, #486bb5 0%, #233b6c 100%);
    background-image: -webkit-linear-gradient(top, #486bb5 0%, #233b6c 100%);
    background-image: linear-gradient(to bottom, #486bb5 0%, #233b6c 100%);
}
.btn-fb-button .icon {
    background: url(http://s.cdpn.io/6035/fb_login_sprite.png) no-repeat;
    width: .6875em;
    height: 1.375em;
    display: inline-block;
    float: left;
    margin: 3px 10px;
}
.btn-fb-button .title {
    font-family: "Lucida Grande", Tahoma, sans-serif;
    font-weight: bold;
    font-size: 0.8125em;
    color: #fff;
    line-height: 30px;
    float: left;
    padding: 0 10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

/******-------------------------------------Footer--------------------------------------*/
div#footer{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: .5em;
}
p#production_creds{
    margin: auto;
    margin-bottom: .3em;
    text-align: center;
    font-size: .9em;
}

/******************************Fonts********************************/
/*
    Opificio Neue
    Bebas Neue
    Mockup (a bunch of them)
    PT Sans (a bunch)
    Lato (a bunch of them)
*/

@font-face {
    font-family: 'Opificio Neue';
    src: url('../fonts/Opificio_Neue/opificio_neue-regular-webfont.eot');
    src: url('../fonts/Opificio_Neue/opificio_neue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Opificio_Neue/opificio_neue-regular-webfont.woff2') format('woff2'),
         url('../fonts/Opificio_Neue/opificio_neue-regular-webfont.woff') format('woff'),
         url('../fonts/Opificio_Neue/opificio_neue-regular-webfont.ttf') format('truetype'),
         url('../fonts/Opificio_Neue/opificio_neue-regular-webfont.svg#opificio_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas_Neue/bebasneue-webfont.eot');
    src: url('../fonts/Bebas_Neue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Bebas_Neue/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/Bebas_Neue/bebasneue-webfont.woff') format('woff'),
         url('../fonts/Bebas_Neue/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/Bebas_Neue/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*------------------------Mockup fonts-------------------------*/
@font-face {
    font-family: 'Mockup Regular';
    src: url('../fonts/Mockup/mockup-regular-webfont.eot');
    src: url('../fonts/Mockup/mockup-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mockup/mockup-regular-webfont.woff2') format('woff2'),
         url('../fonts/Mockup/mockup-regular-webfont.woff') format('woff'),
         url('../fonts/Mockup/mockup-regular-webfont.ttf') format('truetype'),
         url('../fonts/Mockup/mockup-regular-webfont.svg#mockupregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mockup Bold';
    src: url('../fonts/Mockup/mockup-bold-webfont.eot');
    src: url('../fonts/Mockup/mockup-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mockup/mockup-bold-webfont.woff2') format('woff2'),
         url('../fonts/Mockup/mockup-bold-webfont.woff') format('woff'),
         url('../fonts/Mockup/mockup-bold-webfont.ttf') format('truetype'),
         url('../fonts/Mockup/mockup-bold-webfont.svg#mockupbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mockup Italic';
    src: url('../fonts/Mockup/mockup-italic-webfont.eot');
    src: url('../fonts/Mockup/mockup-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mockup/mockup-italic-webfont.woff2') format('woff2'),
         url('../fonts/Mockup/mockup-italic-webfont.woff') format('woff'),
         url('../fonts/Mockup/mockup-italic-webfont.ttf') format('truetype'),
         url('../fonts/Mockup/mockup-italic-webfont.svg#mockupitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mockup Bold Italic';
    src: url('../fonts/Mockup/mockup-bolditalic-webfont.eot');
    src: url('../fonts/Mockup/mockup-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mockup/mockup-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Mockup/mockup-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Mockup/mockup-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/Mockup/mockup-bolditalic-webfont.svg#mockupbolditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
/*-------------------------PT Sans----------------------------*/
@font-face {
    font-family: 'PT Sans Bold';
    src: url('../fonts/PT_Sans/pt_sans-web-bold-webfont.eot');
    src: url('../fonts/PT_Sans/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT_Sans/pt_sans-web-bold-webfont.woff2') format('woff2'),
         url('../fonts/PT_Sans/pt_sans-web-bold-webfont.woff') format('woff'),
         url('../fonts/PT_Sans/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('../fonts/PT_Sans/pt_sans-web-bold-webfont.svg#pt_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Regular';
    src: url('../fonts/PT_Sans/pt_sans-web-regular-webfont.eot');
    src: url('../fonts/PT_Sans/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT_Sans/pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('../fonts/PT_Sans/pt_sans-web-regular-webfont.woff') format('woff'),
         url('../fonts/PT_Sans/pt_sans-web-regular-webfont.ttf') format('truetype'),
         url('../fonts/PT_Sans/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Bold Italic';
    src: url('../fonts/PT_Sans/pt_sans-web-bolditalic-webfont.eot');
    src: url('../fonts/PT_Sans/pt_sans-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT_Sans/pt_sans-web-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/PT_Sans/pt_sans-web-bolditalic-webfont.woff') format('woff'),
         url('../fonts/PT_Sans/pt_sans-web-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/PT_Sans/pt_sans-web-bolditalic-webfont.svg#pt_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans Italic';
    src: url('../fonts/PT_Sans/pt_sans-web-italic-webfont.eot');
    src: url('../fonts/PT_Sans/pt_sans-web-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PT_Sans/pt_sans-web-italic-webfont.woff2') format('woff2'),
         url('../fonts/PT_Sans/pt_sans-web-italic-webfont.woff') format('woff'),
         url('../fonts/PT_Sans/pt_sans-web-italic-webfont.ttf') format('truetype'),
         url('../fonts/PT_Sans/pt_sans-web-italic-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------Bunch of Lato fonts---------------------------------*/
@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato/lato-regular-webfont.eot');
    src: url('../fonts/Lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-regular-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Italic';
    src: url('../fonts/Lato/lato-italic-webfont.eot');
    src: url('../fonts/Lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-italic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-italic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato/lato-light-webfont.eot');
    src: url('../fonts/Lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-light-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Light Italic';
    src: url('../fonts/Lato/lato-lightitalic-webfont.eot');
    src: url('../fonts/Lato/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-lightitalic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Hairline';
    src: url('../fonts/Lato/lato-hairline-webfont.eot');
    src: url('../fonts/Lato/lato-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-hairline-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-hairline-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-hairline-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Hairline Italic';
    src: url('../fonts/Lato/lato-hairlineitalic-webfont.eot');
    src: url('../fonts/Lato/lato-hairlineitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-hairlineitalic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-hairlineitalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-hairlineitalic-webfont.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato/lato-bold-webfont.eot');
    src: url('../fonts/Lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-bold-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Bold Italic';
    src: url('../fonts/Lato/lato-bolditalic-webfont.eot');
    src: url('../fonts/Lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/Lato/lato-black-webfont.eot');
    src: url('../fonts/Lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-black-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Black Italic';
    src: url('../fonts/Lato/lato-blackitalic-webfont.eot');
    src: url('../fonts/Lato/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/Lato/lato-blackitalic-webfont.woff') format('woff'),
         url('../fonts/Lato/lato-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
